body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg6.jpg') no-repeat center center/cover;
}

.title {
    font-family: 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    width: 70%;
    height: 400px;
    background-color: #FFCCCC;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.header {
    width: 98%;
    text-align: center;
    border-bottom: 2px solid #000;
    padding: 10px;
    background-color: #FEBBCC;
}

.header p {
    margin: 1px 0 0;
    font-size: 1rem;
    font-style: italic;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.left-section button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #FEBBCC;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    width: 80%;
    height: 49.5px;
    border-radius: 5px;
    font-weight: bold;
}

.left-section button:hover {
    background-color: #e35882;
    color: #fff;
    border: 2px solid #ddd;
}

.right-section {
    width: 75%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.result {
    width: 97%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    border-radius: 5px;
}

.mini-container {
    width: 97%;
    height: 85%;
    padding: 10px;
    border: 2px solid black;
    background-color: #eaeaea;
    font-size: 16px;
    border-radius: 5px;
}
